section.Projects {
    height: 1000px;
    padding: 120px 60px 60px 60px;
    display: grid;
    grid-template-columns: 45% 45%;
    margin-bottom: 200px;
}

.Card{
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 2em;
    color: #16182b;
    background-color: #dbd3cec6;
    box-shadow: 4px 4px 6px #303030;
    border-radius: 1em;
}

.Card h3{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 2.5em;
}

.Card > img {
    height: 200px;
    width: auto;
}

.site-btns {
    display: flex;
    gap: 2em;
}

.site-btns button{
    padding: 10px 20px;
    border: 1px solid #848383;
    border-radius: .5em;
    box-shadow: 3px 3px 5px #6a6a6a;
}

.site-btns button:hover {
    background-color: #dad8d8;
    border: 1px solid #aeadad;
}

.site-btns button > a {
    color: #16182b;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 700;
}

.site-btns button > a:hover {
    text-decoration: none;
    font-size: 1.5em;
}

@media only screen and (max-width: 1024px) {
    section.Projects {
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: .7em;
    }
  
    .Card {
      height: auto;
      margin-bottom: 2em;
    }
  
    .Card > img {
      height: auto;
      max-width: 100%;
    }

    .site-btns button > a {
        font-size: 1em;
    }
  
    .site-btns button {
      margin-bottom: 2em;
    }
  }
  


@media only screen and (max-width: 550px) {

    section.Projects {
        padding: 100px 30px 30px 30px;
        font-size: .5em;
      }

    .site-btns {
        gap: 1em;
    }

    .site-btns button{
        padding: 5px 5px;
        border: 1px solid #848383;
        border-radius: .5em;
        box-shadow: 3px 3px 5px #6a6a6a;
    }

}