section.Projects {
    height: 1000px;
    padding: 120px 60px 40px 60px;
    display: grid;
    grid-template-columns: 45% 45%;
    margin-bottom: 200px;
}

.Card {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
    color: #16182b;
    background-color: #dbd3cec6;
    box-shadow: 4px 4px 6px #303030;
    border-radius: .8em;
}

.Card h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 2.2em;
}

.project-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.custom-slider {
    margin-left: 35px;
    height: 250px !important;
    width: 430px !important;
}

.rs-carousel-slider-item {
    padding-right: 40px;
    background-color: #B5B4B5 !important;
}

.desc {
    padding-top: 15px;
    font-size: 1.3em;
}

.site-btns {
    display: flex;
    gap: 2em;
}

.site-btns button {
    padding: 10px 20px;
    border-radius: .5em;
    box-shadow: 3px 3px 5px #878787;
}

.site-btns button:hover {
    background-color: #dad8d8;
    border: 1px solid #aeadad;
}

.site-btns button>a {
    color: #16182b;
    text-decoration: none;
    font-size: 1em;
    font-weight: 700;
}

.site-btns button>a:hover {
    text-decoration: none;
    font-size: 1em;
}


@media screen and (min-width: 768px) and (max-width: 1164px) {
    section.Projects {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: .7em;
        padding: 120px 120px 40px 120px;
    }

    .Card {
        width: 100%;
        height: auto;
        margin-bottom: 2em;
    }

    .custom-slider {
        margin-left: 35px;
        height: 250px !important;
        width: 400px !important;
    }

    .desc {
        font-size: 2em;
    }

    .site-btns button>a {
        font-size: 1.1em;
    }

    .site-btns button {
        margin-bottom: 2em;
    }
}

@media screen and (max-width: 767px) {


    section.Projects {
        padding: 100px 30px 30px 30px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1em;
    }

    .site-btns {
        gap: 1em;
    }

    .site-btns button {
        padding: 5px 5px;
        border: 1px solid #848383;
        border-radius: .5em;
        box-shadow: 3px 3px 5px #6a6a6a;
    }
}
@media screen and (max-width: 520px) {
    section.Projects {
        padding: 100px 30px 30px 30px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1em;
    }

    .custom-slider {
        margin-left: 35px;
        height: 150px !important;
        width: 270px !important;
    }

    .site-btns {
        gap: 1em;
    }

    .site-btns button {
        padding: 5px 5px;
        border: 1px solid #848383;
        border-radius: .5em;
        box-shadow: 3px 3px 5px #6a6a6a;
    }
}