section.Tech {
    height: 1000px;
    padding: 160px 60px 40px 60px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 0.18fr);
    margin-bottom: 400px;
  }
  
  .Tech > div {
    text-align: center;
  }
  
  .Tech i {
    font-size: 3rem;
  }
  
  .Tech h2 {
    margin-top: 5px;
    font-size: 1.5rem;
  }
  
  .Skills-title {
    font-size: 3.5em;
  }

.Tech div:hover i {
    color: #9f9a9a;
  }
  
  .Tech div:hover h2 {
    color: #9f9a9a; 
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    section.Tech {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
      }
  }
  
  @media screen and (max-width: 767px) {
    section.Tech {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
  }

  @media screen and (max-width: 460px) {
    section.Tech {
      padding: 120px 60px 40px 60px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
  }