section.About {
    display: grid;
    grid-template-columns: 50% 27%;
    gap: 4em;
}


.About-info {
    text-align: center;
    font-size: 1.7em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.About h3 {
    font-family: 'Playfair Display', serif;
}

.About img {
    height: 500px;
}

@media only screen and (max-width: 1024px) {

    section.About {
        display: grid;
        grid-template-columns: 45% 45%;
        gap: 1em;
    }

    .About-info {
        font-size: 1em;
        gap: 1em;
    }

    .About img {
        height: 350px;
    }

}

@media only screen and (max-width: 550px) {

    section.About {
        height: 900px;
        padding: 20px 30px 60px 30px;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .About-info {
        font-size: 1em;
        gap: 1em;
    }

    .About img {
        height: 300px;
    }

}