section.Contact {
    padding: 125px 100px 50px;
}

.contact-img {
    width: 100%;
    height: 580px;
    position: relative;
    border-radius: 1em;
    box-shadow: 3px 3px 10px #16182b;
}

.Contact > div {
    position: relative;
}

.contact-info {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #262b4f;
    gap: 2em;
    text-align: center;
    font-size: 1.5em;
}

.Contact h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
}

.Contact h5 {
    font-size: 1em;
}

@media only screen and (max-width: 1024px){
    section.Contact {
        padding: 125px 20px 50px;
    }
    
    .contact-img {
        height: 450px;
    }
    
    .contact-info {
        gap: 1em;
        font-size:1em;
    }

    .Contact h1 {
        font-size: 2em;
    }

}

@media only screen and (max-width: 550px) {

    section.Contact {
        padding: 20px;
    }
}