.Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  width: 100%;
  background-color: #dbd3ceea;
  height: 80px;

}

.Header > nav {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav > a {
  margin: 0 2rem;
  text-decoration: none;
  color: #16182b;
  font-weight: 400;
  font-size: 1.1rem;
}

nav > a:hover {
  color: #384268;
  font-size: 1.3rem;
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  visibility: hidden;
  opacity: 0;
  font-size: 1.5rem;
}

@media only screen and (max-width: 1024px){
  header .nav-btn{
    visibility: visible;
    opacity: 1;
  }

  .Header {
    height: 70px;
  }

  header > nav {
    position: fixed;
    padding: 20px 0;
    top:0;
    left: 0;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-100vh);
    background-color: #e3e2e2;
    font-size: .8rem;
  }

  header .responsive-nav {
    transform:none;
    width: 100%;
  }
  
  nav .nav-close-btn {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
  }



}